<form (ngSubmit)="create()">
  <input type="text" name="title" [(ngModel)]="title" />
  <button [disabled]="!title" type="submit">Add new todo</button>
</form>

<ul>
  <li *ngFor="let todo of todoList$ | async">
    <input
      type="checkbox"
      name="isCompleted"
      [checked]="todo.isCompleted"
      (change)="toggleCompleted(todo)"
    />
    <span *ngIf="!todo.isCompleted">{{ todo.title }}</span>
    <span *ngIf="todo.isCompleted"
      ><del>{{ todo.title }}</del></span
    >
    <button (click)="delete(todo.id)">delete</button>
  </li>
</ul>
